@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: calc(11px + 0.1vw);
  overflow-x: hidden;
  overflow-y: scroll;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  z-index: 9999;
  background: #fdfcfc;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 3fr 1fr;
      grid-template-columns: 1fr 3fr 1fr;
  border: 1px solid #e4e1e1;
}

header .logo-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 1rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 200px;
}

header .logo-section i {
  font-size: 1.3rem;
}

header .logo-section .logo-img img {
  width: 1.8rem;
  height: 1.3rem;
}

header .logo-section .logo-img span {
  position: relative;
  font-size: 1.4rem;
  font-weight: 900;
  font-family: 'Oswald', sans-serif;
  text-transform: capitalize;
}

header .logo-section .logo-img span::after {
  content: 'IN';
  font-size: 0.6rem;
  font-weight: 300;
  position: absolute;
  opacity: 0.8;
}

header .search-bar {
  position: relative;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 70% 30%;
      grid-template-columns: 70% 30%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  opacity: 0.8;
}

header .search-bar .btn-search {
  width: 60px;
  padding: 10px 20px;
  outline: none;
  border: 1px solid #5c5c5c;
  font-size: 0.8rem;
  background: white;
}

@media (max-width: 730px) {
  header .search-bar .btn-search {
    -ms-grid-column-align: left;
        justify-self: left;
    border: none;
    margin-left: -60px;
    font-size: 1rem;
  }
}

header .search-bar input[type='text'] {
  width: 100%;
  padding: 10px;
  outline: none;
  border: 1px solid #5c5c5c;
}

@media (max-width: 730px) {
  header .search-bar input[type='text'] {
    display: none;
  }
}

header .search-bar .mic {
  position: absolute;
  right: 10px;
  font-size: 1.3rem;
  display: none;
}

header .more-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 230px;
}

@media (max-width: 550px) {
  header .more-section {
    display: none;
  }
}

header .more-section i {
  font-size: 1.2rem;
}

header .more-section .notifications i {
  position: relative;
}

header .more-section .notifications i::after {
  position: absolute;
  content: '9+';
  border-radius: 50%;
  background: red;
  right: -4px;
  top: -2px;
  font-size: 11px;
  padding: 2px;
  color: white;
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
}

header .more-section .profile .profile-img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}

.nav-bar {
  position: fixed;
  left: 0px;
  top: 65px;
  height: 100vh;
  z-index: 999;
  background: white;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 5px;
}

@media (max-width: 700px) {
  .nav-bar {
    display: none;
  }
}

.nav-bar div {
  display: -ms-grid;
  display: grid;
  margin-bottom: 2rem;
  text-align: center;
}

.nav-bar div span {
  font-size: 0.8rem;
}

.nav-bar i {
  font-size: 1.3rem;
  padding-bottom: 10px;
}

.main-section {
  position: absolute;
  top: 80px;
  left: 80px;
}

.main-section .topics {
  position: fixed;
  top: 65px;
  left: 80px;
  padding: 10px 10px;
  width: 100%;
  height: auto;
  background: #fcfcfc;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: none;
  overflow: scroll;
  border-bottom: 1px solid #d4d3d3;
}

.main-section .topics::-webkit-scrollbar {
  display: none;
}

@media (max-width: 700px) {
  .main-section .topics {
    left: 0px;
  }
}

.main-section .topics div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: hidden;
  border: 1px solid #d4d2d2;
  background: #e2dfdf;
  color: #0c0c0c;
  padding: 2px 20px;
  border-radius: 30px;
  width: auto;
  min-width: 100px;
  height: 30px;
  text-transform: capitalize;
  font-size: 15px;
  font-weight: 300;
  margin-right: 1rem;
  text-align: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.video-container, .video_player_container {
  width: calc(100% - 30px);
  background: #fcfafa;
  height: auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  overflow: hidden;
  margin-top: 4rem;
  grid-gap: 1rem;
  margin-left: 30px;
}

@media (max-width: 1024px) {
  .video-container, .video_player_container {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

@media (max-width: 700px) {
  .video-container, .video_player_container {
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
    -ms-flex-pack: distribute;
        justify-content: space-around;
    width: 100%;
    margin-left: 0px;
  }
}

@media (max-width: 400px) {
  .video-container, .video_player_container {
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
    -ms-flex-pack: distribute;
        justify-content: space-around;
    margin-left: -80px;
  }
}

.video-container a, .video_player_container a {
  text-decoration: none;
  color: black;
}

.video-container .video-panel, .video_player_container .video-panel {
  max-width: 350px;
  min-width: 180px;
  height: auto;
}

.video-container .video-panel img, .video_player_container .video-panel img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.video-container .video-panel .description h3, .video_player_container .video-panel .description h3 {
  line-height: 30px;
}

.video_player_container {
  position: relative;
  -webkit-transform: translateX(-80px);
          transform: translateX(-80px);
  background: white;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 60% 40%;
      grid-template-columns: 60% 40%;
  width: 100vw;
  margin: auto;
  padding: 0px 30px;
}

@media (max-width: 999px) {
  .video_player_container {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    padding: 0px;
  }
}

.video_player_container iframe {
  width: 100vw;
  background: black;
}

@media (min-width: 1000px) {
  .video_player_container iframe {
    height: 400px;
  }
}

@media (max-width: 999px) {
  .video_player_container iframe {
    position: fixed;
    top: 0rem;
    left: 0rem;
  }
}

@media (max-width: 999px) {
  .video_player_container .video_list {
    padding: 10px;
    margin-top: 280px;
  }
}

.video_player_container .video-panel {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  grid-gap: 1em;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  background: crimson;
}

aside {
  position: fixed;
  width: 300px;
  height: 100vh;
  top: 0px;
  left: 0px;
  z-index: 9999999;
  display: none;
}

ul {
  list-style: none;
}

@media (max-width: 670px) {
  .video-container {
    margin-left: 60px;
    left: 50%;
  }
}

@media (max-width: 414px) {
  .video-container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    background: #f8f6f6;
    width: 100vw;
    margin-left: -80px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 20px;
  }
}
/*# sourceMappingURL=style.css.map */